In [76]:
import pandas as pd

## Q1: Create a Series with indexes = 1, 2, 3 and has three names.

In [77]:
s = pd.Series(["Lama", "Huda", "sara"], index=[1, 2, 3])
s

1    Lama
2    Huda
3    sara
dtype: object

## Q2: Change indexes to 11, 12, 13.

In [78]:
s.index = [11, 12, 13]
s

11    Lama
12    Huda
13    sara
dtype: object

## Q3: Retrieve First and second elements.

In [79]:
s.iloc[:2]

11    Lama
12    Huda
dtype: object

## Q4: Add duplicate elements, then remove the duplication

In [80]:
s1 = pd.Series({14:"Lama"})
s=s.append(s1)
s

/var/folders/05/281__02n67gfyztc01_jqrrc0000gn/T/ipykernel_53728/2148762868.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s=s.append(s1)

11    Lama
12    Huda
13    sara
14    Lama
dtype: object

In [82]:
s.drop_duplicates()

11    Lama
12    Huda
13    sara
dtype: object

## Q5: Create a Students DataFrame has three columns (ID, Name)

In [91]:
 students = pd.DataFrame(columns=["ID", "name","age"])
students

Empty DataFrame
Columns: [ID, name, age]
Index: []

## Q6: Read educ_figdp_1_Data.csv file

In [92]:
df = pd.read_csv("educ_figdp_1_Data.csv")

## Q7: What is the difference between loc and slicing?
- loc use the index labels as references
- slice use the position as references

In [94]:
df.loc[1]

TIME                                                               2001
GEO                                       European Union (28 countries)
INDIC_ED              Total public expenditure on education as % of ...
Value                                                                 :
Flag and Footnotes                                                  NaN
Name: 1, dtype: object

## Thank You